.game-area {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 5px solid #fac87b;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #42afff;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: rgb(245, 40, 4);
  border: 1px solid #fff;
  z-index: 1;
}

* {
  background-color: #1e2124;
}
